body {
	background-color: white;
	font-family: Arial;
	font-size: 12pt;
	text-align: center;
}

.page {
	max-width: 980px;
	margin: 0px auto 0px auto;
	position: relative;
	background-color: #fff;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Arial;
	letter-spacing: .05em;
	text-transform: uppercase;
}